*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
    
}
#main{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    position: relative;
}

#page1{
    width: 100%;
    height: 75%;
    /* background-color: rgb(36, 49, 212); */

}
#nav1{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    /* gap: 40px; */
    /* background-color: black; */
    /* background-color: rgb(211, 225, 227); */
    background: linear-gradient(to left top,black  ,rgb(174, 194, 212) );

    color: #fff ;
    padding: 0px 20px;
    
}
#nav1 h4 ,i{
    margin: 20px;
}
#nav1 #nav1-el{
    padding-right: 400px;
}
#nav1 img{
    height: 30px;
}
#nav1 #button {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    background-color: #ea4c89;

}
#nav1 h4, h3{
    cursor: pointer;
}

#page1 #part2{
    width: 100%;
    height: 85%;
    background-color: black;
    position: relative;
}
#page1 #part2 video{
  height: 100%;
  width: 100%;
  object-fit: cover;    
}
#page1 #part2 #overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.532);
}
#page1 #part2 #overlay-nav1{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: black; */
    color: #fff;
    padding: 80px 0px;

}
#page1 #part2 #overlay-nav1 #h4-1{
    background-color: #fff;
    color: black;
}

#page1 #part2 #overlay-nav1 h4{
    padding: 20px 20px;
    background-color: rgba(0, 0, 0, 0.589);
    border-radius: 50px;
    transition: all ease 0.3s;
}

#page1 #part2 #overlay-nav1 h4:hover{
    background-color: #fff;
    color: black;
}
#overlay-nav2 {
    /* display: flex;
    align-items: center; */
    font-size: larger;
    text-align: center;
    /* justify-content: center; */
    color: #fff;
}
#overlay-nav2 p{
    margin-top: 20px;
}
#overlay-nav2 input{
    margin-top: 40px;
    height: 50px;
    width: 500px;
    padding-left: 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
}

#overlay-nav3 {
    display: flex;
    justify-content: center; 
    gap: 20px;
    color: #fff;  
    margin-top: 40px;
}
#overlay-nav3 h5{
    padding: 10px;
}
#overlay-nav3 h4{
    /* background-color: #fff; */
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px 10px;

}


#page2{
    width: 100%;
    height: 210%;
    background: linear-gradient(to right bottom, black ,rgb(174, 194, 212), black );
    
    padding: 30px 60px;
    
}
#page2-nav{
    padding: 0px 20px;
    width: 100%;
    height: 80px;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#page2-nav button{
    /* background: linear-gradient( to right bottom,black , rgb(203, 217, 226)); */
    background-color: #d2d2d2;
    color: black;
    cursor: pointer;
    font-weight: 800;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    
}
#page2-nav i{
    margin: 5px;
}


#page2-nav2{
    width: 100%;
    height: 80px;
    
    /* background-color: rgb(243, 29, 164); */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
#page2-nav2 h4,button{
    color: white;
    font-weight: 800;
    padding: 10px 60px;
}
#page2-nav2 button{
    background-color: #ea4c89;
    border-radius: 10px;

}
#page2 #box{
    margin: 0px 10px;
    /* margin-bottom: 50px; */
    width: 300px;
    height: 250px;
    border: 4px solid black;
    border-radius: 10px;
    /* background-color: coral; */
    display: inline-block;
    position: relative;
    overflow: hidden;

   
}
#box img{
    width: 100%;
    height: 100%;
    object-fit: conver;
    transition: all ease 0.7s;
}

#box #inner{
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(transparent,black);
    bottom: -100px;
    /* opacity: 0; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    padding: 0px 10px;
    padding-top: 120px;
    font-size: 20px;
    transition: all ease 0.3s;

}
#box #inner i{
    background-color: #fff;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

#page2 #box:hover img{
    scale: 1.2;
}


#box:hover #inner{
    bottom: 0;
    /* opacity: 1; */
}

#page2-under1{
    width: 100%;
    height: 50px;
    /* background-color: rgb(84, 172, 84); */
    padding: 0px 10px;
    margin-bottom: 20px;
    display: flex;
    gap: 25px;
    align-items: center;
    color: white;
    
}
#page2-un{
    width: 300px;
    height: 40px;
    /* background-color: #ea4c89; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
    /* flex-direction: column; */

}

#page2-under1 #page2-un  i{
    padding-left: 30px;
    margin: 1px;
}


#page2-un .classimg{
    height: 30px;
    width: 30px;
    /* background-color: black; */
    border-radius: 30px;
    position: relative;
    overflow: hidden;
    background-position: center;
    border: 1px solid white;
    margin-right: 10px;
}

#page2-un #page2-under1img{
   background-image: url(https://cdn.dribbble.com/users/5031392/avatars/mini/944b08efb66577ba400d5838490ea5b9.png?1597658879);
}
#page2-un #page2-under2img{
    background-image: url(https://cdn.dribbble.com/users/8039642/avatars/mini/c55f28eaa5d332267d051f6035595592.jpg?1653730518);
}
#page2-un #page2-under3img{
    background-image: url(https://cdn.dribbble.com/users/14297024/avatars/mini/5fa1f3e481f7570912a6d9f22a3dcbac.jpg?1670947724);
}
#page2-un #page2-under4img{
    background-image: url(https://cdn.dribbble.com/users/13994092/avatars/mini/2df3d07f57a028929bada634847d2382.jpg?1669088779);
}
#page2-un #page2-under5img{
    background-image: url(https://cdn.dribbble.com/users/1731254/avatars/mini/76437b08ae5a562ef735b6f2fd03db97.png?1495002920);
}
#page2-un #page2-under6img{
    background-image: url(https://cdn.dribbble.com/users/11107698/avatars/mini/73916b66c68642ebda7ae99b4f1b3b49.jpg?1647747081);
}
#page2-un #page2-under7img{
    background-image: url(https://cdn.dribbble.com/users/1392449/avatars/mini/52669a4381af5fec13e19064ba266312.jpg?1667277039);
}
#page2-un #page2-under8img{
    background-image: url(https://cdn.dribbble.com/users/371199/avatars/mini/a626094233ada762441d796611460518.jpg?1604833100);
}
#page2-un #page2-under9img{
    background-image: url(https://cdn.dribbble.com/users/13724269/avatars/mini/a5fec844439b483fb7c3b11d775a9405.png?1668176817);
}
#page2-un #page2-under10img{
    background-image: url(https://cdn.dribbble.com/users/6130202/avatars/mini/ee6c936e33ffbe01c47a7eb97d43cbe4.png?1601532694);
}
#page2-un #page2-under11img{
    background-image: url(https://cdn.dribbble.com/users/2301995/avatars/mini/a308fa2c3e07d851418eb56fcdd43598.png?1626410668);
}
#page2-un #page2-under12img{
    background-image: url(https://cdn.dribbble.com/users/2543315/avatars/mini/8ee87f1c09f7f95cfba79782ccbdfbd7.png?1675625890);
}




#page3{
    width: 100%;
    height: 70%;
    background: linear-gradient(to top right,black,rgb(174, 194, 212));
    display: flex;
    
}
#page3 #page3-box1{
    /* margin-left: 50px;
    margin-top: 100px; */
    padding-top: 100px;
    padding-left: 50px;
    height: 100%;
    width: 25%;
   
    /* background-color: black; */
}

#page3 #page3-box1 img{
    height: 30px;
    /* background-color: white; */
    color: white;
}
#page3 #icon i{
    font-size: 25px;
    margin: 5px;
}

#page3 #page3-box2{
    height: 100%;
    width: 15%;
    /* background-color: #910d40; */
}
#page3 #page3-box2{
    padding-top: 100px;
    font-weight: 600;
    
}
#page3 #page3-box3{
    height: 100%;
    width: 15%;
    /* background-color: #0d6391; */
    
}
#page3-box3 p{
    padding-top: 100px;
    font-weight: 600;
}

#page3 #page3-box4{
    height: 100%;
    width: 15%;
    /* background-color: #7d910d; */
}
#page3-box4 p {
    padding-top: 100px;
    font-weight: 600;
}
#page3 #page3-box5{
    height: 100%;
    width: 15%;
    /* background-color: #91650d; */
}
#page3-box5 p{
    padding-top: 100px;
    font-weight: 600;
}

#page3 #page3-box6{
    height: 100%;
    width: 15%;
    /* background-color: #910d79; */
}

#page3-box6 p{
    padding-top: 100px;
    font-weight: 600;
}
